@font-face{
    font-family: "Open Sans";
    src: url(open-sans-v15-latin-regular.woff);
}

html, body {
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
  }

.top-bar-list {
    display: inline-block;
    color: rgba(255,255,255,.8);
    font-size: 16px;
    list-style-type: none;
    padding-right: 20px;
    border-color: white;
    text-align: center;
    margin: auto;
}

.top-bar-list:hover {
    color: white;
}

.top-bar {
    background: url(brand-logo.PNG) no-repeat, black;
    background-position-x: 25%; 
    height: 50px;
    width: device-width;
    text-align: center;
}

.chart-parent-div {
   display: flex; 
}

.chart-child-div {
    flex: 1;
    text-align: center;
}